{% extends "base.html" %}

{% block content %}

<div class="row justify-content-center mt-5">
    <div class="col-md-5">

        <div class="card shadow-lg border-0 p-4 login-card" data-aos="zoom-in">

            <h2 class="text-center mb-4">
                🔐 Login
            </h2>

            {% if form.errors %}
            <div class="alert alert-danger fade show" role="alert">
                Usuário ou senha inválidos.
            </div>
            {% endif %}

            <form id="login-form">

                {% csrf_token %}

                <div id="login-error"
                    class="alert alert-danger d-none">
                </div>

                <div class="mb-3">
                    <label>Usuário</label>
                    <input
                        id="username"
                        name="username"
                        class="form-control"
                        required
                    >
                </div>

                <div class="mb-4">
                    <label>Senha</label>
                    <input
                        id="password"
                        type="password"
                        name="password"
                        class="form-control"
                        required
                    >
                </div>

                <button class="btn btn-primary w-100">
                    Entrar
                </button>

            </form>

        </div>

    </div>
</div>

<script>
document
.getElementById("login-form")
.addEventListener("submit", async function(e) {

    e.preventDefault();

    const username =
        document.getElementById("username").value;

    const password =
        document.getElementById("password").value;

    const csrf =
        document.querySelector(
            "[name=csrfmiddlewaretoken]"
        ).value;

    const errorBox =
        document.getElementById("login-error");

    errorBox.classList.remove("show-error");
    errorBox.classList.add("d-none");

    const response = await fetch("/ajax-login/", {
        method: "POST",
        headers: {
            "X-CSRFToken": csrf,
            "Content-Type":
                "application/x-www-form-urlencoded"
        },
        body:
            `username=${encodeURIComponent(username)}&password=${encodeURIComponent(password)}`
    });

    const data = await response.json();

    if (response.ok && data.success) {
        window.location.href = data.redirect;
    } else {
        errorBox.innerText = data.message;

        errorBox.classList.remove("d-none");

        // força reflow para reiniciar animação
        void errorBox.offsetWidth;

        errorBox.classList.add("show-error");
    }
});
</script>

{% endblock %}