{% extends 'base.html' %}

{% block content %}

<h2>Dashboard</h2>

<a href="{% url 'new_transaction' %}">+ Nova Transação</a>

<hr>

<h3>Resumo</h3>
<ul>
    <li>Receita: R$ {{ summary.income }}</li>
    <li>Despesa: R$ {{ summary.expense }}</li>
    <li><strong>Saldo: R$ {{ summary.balance }}</strong></li>
</ul>

<hr>

<h3>Insights</h3>
<ul>
    {% for insight in insights %}
        <li>{{ insight }}</li>
    {% empty %}
        <li>Nenhum insight disponível</li>
    {% endfor %}
</ul>

<hr>

<h3>Transações</h3>

<ul>
    {% for t in transactions %}
        <li>
            {{ t.date }} - {{ t.type }} - R$ {{ t.amount }} - {{ t.category }}
        </li>
    {% empty %}
        <li>Nenhuma transação cadastrada</li>
    {% endfor %}
</ul>

{% endblock %}