{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center mt-4">
    <div class="col-md-7">

        <div class="card shadow-lg border-0 p-4" data-aos="fade-up">
            <h2 class="mb-4 text-center">💰 Nova Transação</h2>

            <form method="post">
                {% csrf_token %}

                <div class="mb-3">
                    <label class="form-label">Valor</label>
                    {{ form.amount }}
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Tipo</label>
                        {{ form.type }}
                    </div>

                    <div class="col-md-6 mb-3">
                        <label class="form-label">Categoria</label>
                        {{ form.category }}
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label">Data</label>
                    {{ form.date }}
                </div>

                <div class="mb-4">
                    <label class="form-label">Descrição</label>
                    {{ form.description }}
                </div>

                <div class="d-flex justify-content-between">
                    <a href="/" class="btn btn-secondary px-4">
                        Voltar
                    </a>

                    <button type="submit" class="btn btn-success px-4">
                        Salvar
                    </button>
                </div>

            </form>
        </div>

    </div>
</div>

{% endblock %}